@model TestStatus
<div>
    <h4>TestStatus</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.StatusName)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.StatusName)</dd>
        <partial name="_Detalis" model="Model"/>
    </dl>
</div>
<partial name="_BackOrEdit" model="Model"/>