@model Auditable
<td>
    <a role="button" target="_blank" class="btn-sm btn-warning" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a role="button" target="_blank" class="btn-sm btn-info" asp-action="Details" asp-route-id="@Model.Id">Details</a> |
    <a role="button" target="_blank" class="btn-sm btn-danger" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
</td>