
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            @{
                var labName = Singleton<Lab>.Instance?.LabName;
                var labLogo = Singleton<Lab>.Instance?.LabLogo;
            }

            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">@labName</a>

            @if (labLogo != null)
            {
                <img style="width:40px;height:40px; object-fit:cover; border-radius:30px" src="~/img/@labLogo">
            }

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    
                </ul>

                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>
</header>