<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>


<script type="x/kendo-template" id="page-template">
    <div class="page-template">
      <div class="header">
        <div style="float: right">Page #: pageNum # of #: totalPages #</div>
      </div>
      <div class="footer">
        Page #: pageNum # of #: totalPages #
      </div>
    </div>
</script>