<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/select2/dist/js/select2.full.min.js"></script>
<script src="~/lib/toasts/dist/toast.min.js"></script>
<script src="~/lib/iCheck/icheck.js"></script>

<script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.4/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/fixedcolumns/4.0.1/js/dataTables.fixedColumns.min.js"></script>

<script src="~/js/site.js" asp-append-version="true"></script>

<script type="x/kendo-template" id="page-template">
    <div class="page-template">
      <div class="header">
        <div style="float: right">Page #: pageNum # of #: totalPages #</div>
      </div>
      <div class="footer">
        Page #: pageNum # of #: totalPages #
      </div>
    </div>
</script>